<!DOCTYPE html>
<html>
<head>
  <title>Rway</title>
  <%= stylesheet_link_tag    "rway/application", media: "all" %>
  <%= javascript_include_tag "rway/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
